@import "../../../common//common.scss";

.cart-button-container {
  position: relative;
  background-color: $pink-dark;

  .cart-button {
    width: 100%;
    color: white;
    background-color: $pink-dark;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .cart-item {
    position: absolute;
    top: -100%;
    left: 10%;
    display: block;
    border: 1px solid $pink-dark;
    background-color: $pink-light;
    padding: 10px;
    margin-top: 10px;
  }
}
