@import "../../../common//common.scss";

.categories-container {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .categories-category {
    width: 40%;
    padding: 1.5rem;
    background-color: $bg;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1rem;
      background-color: $bg;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: $pink-dark;
      text-align: left;
      color: $bg;
      width: 50%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      font-weight: 700;
      text-decoration: underline;
      font-size: larger;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        margin-right: 0.5rem;
      }

      .icons {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .categories-category {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
